<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge, Chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <title>数据管理</title>
    <link rel="stylesheet" href="../asset/vendor/bootstrap-select/bootstrap-select.css">
    <link rel="stylesheet" href="../asset/vendor/bootstrap-datepicker/datepicker.css">
    <link rel="stylesheet" href="../asset/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../asset/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../asset/vendor/easyDialog/css/easydialog.css">
    <link rel="stylesheet" href="../asset/css/admin.css">
    <!--[if lt IE 9]>
    <script src="../asset/js/admin/html5shiv.js"></script>
    <script src="../asset/js/admin/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="app" data-sidebar="locked" id="client">
    <navbar :user="user"></navbar>
    <section class="layout">
        <sidebar :links="sidebarLinks"></sidebar>
        <section class="main-content">
            <div class="content-wrap">
                <div class="row mg-b">
                    <div class="col-xs-12">
                        <h3 class="no-margin">数据管理</h3>
                        <small>查询、修改以及删除数据</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <form class="form form-inline">
                                    <div class="form-group">
                                        <label class="control-label">每页显示</label>
                                        <select v-model="table.numberPerPage" class="form-control" data-style="btn-primary">
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                            <option value="25">25</option>
                                        </select>
                                        <label class="control-label">页</label>
                                    </div>
                                    <div class="form-group pull-right">
                                        <label class="control-label">检索条件：</label>
                                        <select v-model="table.searchType" class="form-control" data-style="btn-primary">
                                            <option value="0">全部</option>
                                            <option value="1">pdbId</option>
                                            <option value="2">type</option>
                                            <option value="3">ec2</option>
                                            <option value="4">录入者</option>
                                            <option value="5">修改者</option>
                                            <option value="6">录入时间</option>
                                            <option value="7">修改时间</option>
                                        </select>
                                        <input v-model="table.searchParam" v-show="table.searchType < 6 && table.searchType > 0" class="form-control" type="text" />
                                        <div v-show="table.searchType >= 6" class="input-group input-append date datepicker">
                                            <input type="text" class="form-control" id="startDate" style="width: 100px;">
                                            <input type="text" class="form-control" id="endDate" style="width: 100px;">
                                        </div>
                                        <div @click="request('getDataList')" class="btn btn-info">搜索</div>
                                    </div>
                                </form>
                            </header>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered responsive" data-sortable>
                                        <thead>
                                        <tr>
                                            <th class="text-center">pdbId</th>
                                            <th class="text-center">type</th>
                                            <th class="text-center">EC1</th>
                                            <th class="text-center">EC2</th>
                                            <th class="text-center">录入时间</th>
                                            <th class="text-center">录入者</th>
                                            <th class="text-center">修改时间</th>
                                            <th class="text-center">修改者</th>
                                            <th class="text-center">数据状态</th>
                                            <th class="text-center">相关操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="item in dataListAfterSearch">
                                            <td v-text="item.pdbId"></td>
                                            <td v-text="item.type"></td>
                                            <td v-text="item.ec1"></td>
                                            <td v-text="item.ec2"></td>
                                            <td class="text-center" v-text="item.operateDate"></td>
                                            <td class="text-center" v-text="item.operator"></td>
                                            <td class="text-center" v-text="item.modifyDate"></td>
                                            <td class="text-center" v-text="item.modifier"></td>
                                            <td class="text-center">
                                                <span v-if="item.isModified == 1" class="text-danger">审核中</span>
                                                <span v-else class="text-success">正常</span>
                                            </td>
                                            <td class="text-center" v-if="isRoot == true || hasExamine == true">
                                                <button @click="openPanel('panelView', item)" class="btn btn-default">
                                                    <i class="fa fa-adn"></i>查看
                                                </button>
                                                <button v-if="item.isModified == 0" @click="openPanel('panelModify', item)" class="btn btn-default mg-l">
                                                    <i class="fa fa-edit"></i>修改
                                                </button>
                                                <button v-else disabled @click="openPanel('panelModify', item)" class="btn btn-default mg-l">
                                                    <i class="fa fa-edit"></i>修改
                                                </button>
                                                <button v-if="isRoot == true && item.isModified == 0" @click="openPanel('panelDelete', item)" class="btn btn-default mg-l">
                                                    <i class="fa fa-remove"></i>删除
                                                </button>
                                                <button v-else disabled @click="openPanel('panelDelete', item)" class="btn btn-default mg-l">
                                                    <i class="fa fa-remove"></i>删除
                                                </button>
                                            </td>
                                            <td class="text-center" v-else>
                                                <button @click="openPanel('panelView', item)" class="btn btn-default">
                                                    <i class="fa fa-adn"></i>查看
                                                </button>
                                                <button v-if="item.isModified == 0" @click="openPanel('panelModify', item)" class="btn btn-default mg-l">
                                                    <i class="fa fa-edit"></i>修改
                                                </button>
                                                <button v-else disabled @click="openPanel('panelModify', item)" class="btn btn-default mg-l">
                                                    <i class="fa fa-edit"></i>修改
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="page-container">
                                    <div class="pull-left">
                                        共 <span v-text="table.recordNumber"></span> 条数据，
                                        共 <span v-text="table.pageNumber"></span> 页
                                    </div>
                                    <ul class="pagination no-margin pull-right">
                                        <li>
                                            <a v-if="table.currentPage == 1" href="javascript:;" style="background-color: #ccc; color: #fff;">上一页</a>
                                            <a v-else @click="skipPage(1)" href="javascript:;">上一页</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="no-padding">
                                                <input type="text" v-model="table.inputPage" class="text-center" style="width: 50px; padding: 4px;" />
                                            </a>
                                        </li>
                                        <li><a @click="skipPage(2)" href="javascript:;">跳页</a></li>
                                        <li>
                                            <a v-if="table.currentPage == table.pageNumber" href="javascript:;" style="background-color: #ccc; color: #fff;">下一页</a>
                                            <a v-else @click="skipPage(3)" href="javascript:;">下一页</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
        <div id="panelView" class="panel panel-color sr-only panel-custom panel-view">
            <div class="panel-heading">
                查看数据详情
                <small class="pull-right text-white">
                    <a class="fa fa-chevron-down panel-collapsible pd-r-xs" href="javascript:;" @click="hidePanelBody($event)"></a>
                    <a class="fa fa-times panel-remove" href="javascript:easyDialog.close();"></a>
                </small>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2"><strong>TITLE：</strong></div>
                    <div class="col-sm-10" v-text="view.title"></div>
                </div>
                <div class="row mg-t-sm">
                    <div class="col-sm-2"><strong>TYPE：</strong></div>
                    <div class="col-sm-4" v-text="view.type"></div>
                    <div class="col-sm-2"><strong>EC2：</strong></div>
                    <div class="col-sm-4" v-text="view.ec2"></div>
                </div>
                <div class="row mg-t-sm">
                    <div class="col-sm-2"><strong>PDBID：</strong></div>
                    <div class="col-sm-4" v-text="view.pdbId"></div>
                    <div class="col-sm-2"><strong>LOCUS：</strong></div>
                    <div class="col-sm-4" v-text="view.locus"></div>
                </div>
                <div class="row mg-t-sm">
                    <div class="col-sm-2"><strong>COUNTRY：</strong></div>
                    <div class="col-sm-4" v-text="view.country"></div>
                    <div class="col-sm-2"><strong>DATE：</strong></div>
                    <div class="col-sm-4" v-text="view.date"></div>
                </div>
                <div class="row mg-t-sm">
                    <div class="col-sm-2"><strong>DBSOURCE：</strong></div>
                    <div class="col-sm-10" v-html="view.dbsource"></div>
                </div>
                <div class="row mg-t-sm">
                    <div class="col-sm-2"><strong>SOURCE：</strong></div>
                    <div class="col-sm-10" v-text="view.source"></div>
                </div>
                <div class="row mg-t-sm">
                    <div class="col-sm-2"><strong>ORGANISM：</strong></div>
                    <div class="col-sm-10" v-html="view.organism"></div>
                </div>
                <div class="row mg-t-sm">
                    <div class="col-sm-2"><strong>ORIGIN：</strong></div>
                    <div class="col-sm-10" v-html="view.origin"></div>
                </div>
                <div class="row mg-t-sm">
                    <div class="col-sm-2"><strong>DEEPSEA：</strong></div>
                    <div class="col-sm-2" v-text="view.deepSea"></div>
                    <div class="col-sm-2"><strong>TEMPERATURE：</strong></div>
                    <div class="col-sm-2" v-text="view.temperature"></div>
                    <div class="col-sm-2"><strong>PH：</strong></div>
                    <div class="col-sm-2" v-text="view.ph"></div>
                </div>
                <div class="row mg-t-sm" v-if="view.zone != ''">
                    <div class="col-sm-2"><strong>ZONE：</strong></div>
                    <div class="col-sm-10" v-text="view.zone"></div>
                </div>
                <div class="row mg-t-sm" v-if="view.cofactors != ''">
                    <div class="col-sm-2"><strong>COFACTORS：</strong></div>
                    <div class="col-sm-10" v-text="view.cofactors"></div>
                </div>
                <div class="row mg-t-sm" v-if="view.inhibitors != ''">
                    <div class="col-sm-2"><strong>INHIBITORS：</strong></div>
                    <div class="col-sm-10" v-text="view.inhibitors"></div>
                </div>
                <div v-if="view.title1 != ''">
                    <h4>REFENRENCE 1</h4>
                    <div class="row mg-t-sm">
                        <div class="col-sm-2"><strong>TITLE：</strong></div>
                        <div class="col-sm-10" v-text="view.title1"></div>
                    </div>
                    <div class="row mg-t-sm">
                        <div class="col-sm-2"><strong>AUTHOR：</strong></div>
                        <div class="col-sm-10" v-text="view.author1"></div>
                    </div>
                    <div class="row mg-t-sm">
                        <div class="col-sm-2"><strong>JOURNAL:</strong></div>
                        <div class="col-sm-4" v-text="view.journal1"></div>
                        <div class="col-sm-2"><strong>PUMBED：</strong></div>
                        <div class="col-sm-4" v-text="view.pubmed1"></div>
                    </div>
                    <div class="row mg-t-sm">
                        <div class="col-sm-2"><strong>ABSTRACT：</strong></div>
                        <div class="col-sm-10" v-text="view.abstract1"></div>
                    </div>
                </div>
                <div v-if="view.title2 != ''">
                    <h4>REFENRENCE 2</h4>
                    <div class="row mg-t-sm">
                        <div class="col-sm-2"><strong>TITLE：</strong></div>
                        <div class="col-sm-10" v-text="view.title2"></div>
                    </div>
                    <div class="row mg-t-sm">
                        <div class="col-sm-2"><strong>AUTHOR：</strong></div>
                        <div class="col-sm-10" v-text="view.author2"></div>
                    </div>
                    <div class="row mg-t-sm">
                        <div class="col-sm-2"><strong>JOURNAL：</strong></div>
                        <div class="col-sm-4" v-text="view.journal2"></div>
                        <div class="col-sm-2"><strong>PUMBED：</strong></div>
                        <div class="col-sm-4" v-text="view.pubmed2"></div>
                    </div>
                    <div class="row mg-t-sm">
                        <div class="col-sm-2"><strong>ABSTRACT：</strong></div>
                        <div class="col-sm-10" v-text="view.abstract2"></div>
                    </div>
                </div>
                <div v-if="view.title3 != ''">
                    <h4>REFENRENCE 3</h4>
                    <div class="row mg-t-sm">
                        <div class="col-sm-2"><strong>TITLE：</strong></div>
                        <div class="col-sm-10" v-text="view.title2"></div>
                    </div>
                    <div class="row mg-t-sm">
                        <div class="col-sm-2"><strong>AUTHOR：</strong></div>
                        <div class="col-sm-10" v-text="view.author3"></div>
                    </div>
                    <div class="row mg-t-sm">
                        <div class="col-sm-2"><strong>JOURNAL：</strong></div>
                        <div class="col-sm-4" v-text="view.journal3"></div>
                        <div class="col-sm-2"><strong>PUMBED：</strong></div>
                        <div class="col-sm-4" v-text="view.pubmed3"></div>
                    </div>
                    <div class="row mg-t-sm">
                        <div class="col-sm-2"><strong>ABSTRACT：</strong></div>
                        <div class="col-sm-10" v-text="view.abstract3"></div>
                    </div>
                </div>
                <div v-if="view.title4 != ''">
                    <h4>REFENRENCE 4</h4>
                    <div class="row mg-t-sm">
                        <div class="col-sm-2"><strong>TITLE：</strong></div>
                        <div class="col-sm-10" v-text="view.title4"></div>
                    </div>
                    <div class="row mg-t-sm">
                        <div class="col-sm-2"><strong>AUTHOR：</strong></div>
                        <div class="col-sm-10" v-text="view.author4"></div>
                    </div>
                    <div class="row mg-t-sm">
                        <div class="col-sm-2"><strong>JOURNAL：</strong></div>
                        <div class="col-sm-4" v-text="view.journal4"></div>
                        <div class="col-sm-2"><strong>PUMBED：</strong></div>
                        <div class="col-sm-4" v-text="view.pubmed4"></div>
                    </div>
                    <div class="row mg-t-sm">
                        <div class="col-sm-2"><strong>ABSTRACT：</strong></div>
                        <div class="col-sm-10" v-text="view.abstract4"></div>
                    </div>
                </div>
                <div class="row mg-t-sm">
                    <div class="col-sm-2"><strong>录入时间：</strong></div>
                    <div class="col-sm-6" v-text="view.operateDate"></div>
                    <div class="col-sm-2"><strong>录入者：</strong></div>
                    <div class="col-sm-2" v-text="view.operator"></div>
                </div>
                <div class="row mg-t-sm">
                    <div class="col-sm-2"><strong>修改时间：</strong></div>
                    <div class="col-sm-6" v-text="view.modifyDate"></div>
                    <div class="col-sm-2"><strong>修改者：</strong></div>
                    <div class="col-sm-2" v-text="view.modifier"></div>
                </div>
            </div>
        </div>
        <div id="panelModify" class="panel panel-color sr-only panel-custom panel-view">
            <div class="panel-heading">
                修改用户
                <small class="pull-right text-white">
                    <a class="fa fa-chevron-down panel-collapsible pd-r-xs" href="javascript:;" @click="hidePanelBody($event)"></a>
                    <a class="fa fa-times panel-remove" href="javascript:easyDialog.close();"></a>
                </small>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="text-danger">*</span>TITLE</label>
                        <div class="col-sm-10">
                            <input v-model="modify.title" placeholder="Chain A, Structure Analysis Of A New Psychrophilic Marine Protease" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="text-danger">*</span>分类</label>
                        <div class="col-sm-3">
                            <select id="selectForType" class="form-control selectpicker" data-style="btn-primary"></select>
                        </div>
                        <label class="col-sm-1 control-label"><span class="text-danger">*</span>EC2</label>
                        <div class="col-sm-6">
                            <select id="selectForEC2" class="form-control selectpicker" data-style="btn-primary"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="text-danger">*</span>LOCUS</label>
                        <div class="col-sm-3">
                            <input v-model="modify.locus" placeholder="3U1R_A" type="text" class="form-control">
                        </div>
                        <label class="col-sm-1 control-label"><span class="text-danger">*</span>PDBID</label>
                        <div class="col-sm-2">
                            <input v-model="modify.pdbId" placeholder="3U1R" type="text" class="form-control">
                        </div>
                        <label class="col-sm-1 control-label"><span class="text-danger">*</span>DATE</label>
                        <div class="col-sm-3">
                            <input v-model="modify.date" placeholder="02-NOV-2012" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">DBSOURCE</label>
                        <div class="col-sm-10">
                            <textarea v-model="modify.dbsource" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">SOURCE</label>
                        <div class="col-sm-10">
                            <input v-model="modify.source" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">ORGANISM</label>
                        <div class="col-sm-10">
                            <textarea v-model="modify.organism" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">MICROBE</label>
                        <div class="col-sm-10">
                            <input v-model="modify.microbe" type="text" class="form-control" placeholder="预留字段，暂时不用填写">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">COUNTRY</label>
                        <div class="col-sm-4">
                            <input v-model="modify.country" type="text" class="form-control">
                        </div>
                        <label class="col-sm-2 control-label">PH</label>
                        <div class="col-sm-4">
                            <input v-model="modify.ph" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">DEEPSEA</label>
                        <div class="col-sm-4">
                            <select id="selectForDeepSea" class="form-control selectpicker" data-style="btn-primary">
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>
                        </div>
                        <label class="col-sm-3 control-label">TEMPERATURE</label>
                        <div class="col-sm-3">
                            <input v-model="modify.temperature" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">ZONE</label>
                        <div class="col-sm-10">
                            <input v-model="modify.zone" type="text" class="form-control" placeholder="预留字段，暂时不用填写" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">COFACTORS</label>
                        <div class="col-sm-10">
                            <input v-model="modify.cofactors" type="text" class="form-control" placeholder="预留字段，暂时不用填写" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">INHIBITORS</label>
                        <div class="col-sm-10">
                            <input v-model="modify.inhibitors" type="text" class="form-control" placeholder="预留字段，暂时不用填写" />
                        </div>
                    </div>
                    <div>
                        <h4 class="mg">REFERENCE 1：</h4>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">TITLE</label>
                            <div class="col-sm-10">
                                <input v-model="modify.title1" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">AUTHOR</label>
                            <div class="col-sm-10">
                                <input v-model="modify.author1" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">JOURNAL</label>
                            <div class="col-sm-5">
                                <input v-model="modify.journal1" type="text" class="form-control">
                            </div>
                            <label class="col-sm-2 control-label">PUBMED</label>
                            <div class="col-sm-3">
                                <input v-model="modify.pubmed1" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">ABSTRACT</label>
                            <div class="col-sm-10">
                                <textarea v-model="modify.abstract1" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h4 class="mg">REFERENCE 2：</h4>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">TITLE</label>
                            <div class="col-sm-10">
                                <input v-model="modify.title2" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">AUTHOR</label>
                            <div class="col-sm-10">
                                <input v-model="modify.author2" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">JOURNAL</label>
                            <div class="col-sm-5">
                                <input v-model="modify.journal2" type="text" class="form-control">
                            </div>
                            <label class="col-sm-2 control-label">PUBMED</label>
                            <div class="col-sm-3">
                                <input v-model="modify.pubmed2" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">ABSTRACT</label>
                            <div class="col-sm-10">
                                <textarea v-model="modify.abstract2" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h4 class="mg">REFERENCE 3：</h4>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">TITLE</label>
                            <div class="col-sm-10">
                                <input v-model="modify.title3" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">AUTHOR</label>
                            <div class="col-sm-10">
                                <input v-model="modify.author3" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">JOURNAL</label>
                            <div class="col-sm-5">
                                <input v-model="modify.journal3" type="text" class="form-control">
                            </div>
                            <label class="col-sm-2 control-label">PUBMED</label>
                            <div class="col-sm-3">
                                <input v-model="modify.pubmed3" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">ABSTRACT</label>
                            <div class="col-sm-10">
                                <textarea v-model="modify.abstract3" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h4 class="mg">REFERENCE 4：</h4>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">TITLE</label>
                            <div class="col-sm-10">
                                <input v-model="modify.title4" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">AUTHOR</label>
                            <div class="col-sm-10">
                                <input v-model="modify.author4" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">JOURNAL</label>
                            <div class="col-sm-5">
                                <input v-model="modify.journal4" type="text" class="form-control">
                            </div>
                            <label class="col-sm-2 control-label">PUBMED</label>
                            <div class="col-sm-3">
                                <input v-model="modify.pubmed4" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">ABSTRACT</label>
                            <div class="col-sm-10">
                                <textarea v-model="modify.abstract4" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">ORIGIN</label>
                        <div class="col-sm-10">
                            <textarea v-model="modify.origin" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group" v-if="isRoot == false && hasExamine == false">
                        <label class="col-sm-2 control-label"><span class="text-danger">*</span>备注</label>
                        <div class="col-sm-10">
                            <textarea v-model="modify.note" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <button v-if="isRoot == true || hasExamine" @click="request('modify')" class="btn btn-default center-block">修改数据</button>
                <button v-else @click="request('addExamine')" class="btn btn-default center-block">修改数据</button>
            </div>
        </div>
        <div id="panelDelete" class="panel panel-color sr-only panel-custom">
            <div class="panel-heading">
                删除数据
                <small class="pull-right text-white">
                    <a class="fa fa-chevron-down panel-collapsible pd-r-xs" href="javascript:;" @click="hidePanelBody($event)"></a>
                    <a class="fa fa-times panel-remove" href="javascript:easyDialog.close();"></a>
                </small>
            </div>
            <div class="panel-body">
                确定删除 pdbId 为<strong class="text-info" v-text="del.pdbId"></strong>数据吗？
                <button @click="request('delete')" class="btn btn-default center-block">确定删除</button>
            </div>
        </div>
    </section>
</div>
<script src="../asset/js/frame/jquery-1.11.1.min.js"></script>
<script src="../asset/vendor/bootstrap/js/bootstrap.js"></script>
<script src="../asset/vendor/bootstrap-select/bootstrap-select.js"></script>
<script src="../asset/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="../asset/vendor/easyDialog/js/easydialog.min.js"></script>
<script src="../asset/js/frame/vue.js"></script>
<script src="../asset/config/config.js"></script>
<script src="../asset/components/admin.js"></script>
<script src="../asset/js/admin/base.js"></script>
<script>
    var Client = new Vue({
        el: "#client",
        data: {
            user: {},
            sidebarLinks: [],
            dataList: [],
            dataListAfterSearch: [],
            isRoot: false,
            hasExamine: false,
            table: {
                // 分页部分
                recordNumber: 0,    // 数据数目
                numberPerPage: 10,  // 每页显示数据数
                pageNumber: 0,      // 总页数
                currentPage: 1,     // 当前页码
                inputPage: 1,       // 输入框页码
                // 检索部分
                searchType : 0,
                searchParam: "",
                startDate: "",
                endDate: ""
            },
            view: {},
            modify: {},
            del: {}
        },
        components: {
            "navbar": header,
            "sidebar": sidebar
        },
        mounted: function () {
            this.$nextTick(function () {
                init(Client, function() {
                    var auth = Client.user.roleAuth;
                    // 初始化组件，以及获取相应数据
                    $("#startDate").datepicker({"format": "yyyy-mm-dd"});
                    $("#endDate").datepicker({"format": "yyyy-mm-dd"});
                    Client.request("getDataList");
                    Client.request("getParam");
                    // 判断当前用户是否是系统管理员
                    if(Client.user.roleName === "超级管理员") {
                        Client.isRoot = true;
                    }
                    // 判断当前用户是否有审核权限
                    if(auth.indexOf("6") !== -1) {
                        Client.hasExamine = true;
                    }
                });
            })
        },
        methods: {
            /**
             * 打开弹窗（面板）
             * @param panel 弹窗（面板）的 ID
             * @param item  传递给弹窗（面板）的数据
             */
            openPanel: function(panel, item) {
                $("#" + panel).removeClass("sr-only");
                easyDialog.open({
                    "container": panel
                });
                if(panel === "panelView") {
                    var data = item,
                        dbsource = "",
                        organism = "",
                        origin = "";

                    // 对数据呈现格式进行规范化
                    data.dbsource ? dbsource = data.dbsource : "";
                    data.organism ? organism = data.organism : "";
                    data.origin ? origin = data.origin : "";
                    dbsource = dbsource.replace(/;/g, "<br/>");
                    organism = organism.replace(/;/g, "<br/>");
                    origin = origin.replace(/[1-9][0-9]*/g, function(e) {
                        return "<br/>" + e;
                    });
                    origin = origin.replace("<br/>", "");
                    data.dbsource = dbsource;
                    data.organism = organism;
                    data.origin = origin;
                    this.view = data;
                } else if(panel === "panelModify") {
                    this.modify = deepCopy(item);
                    this.modify.note = "";
                } else if(panel === "panelDelete") {
                    this.del = item;
                }
            },
            /**
             * 隐藏弹窗（面板）的主体部分
             * @param obj 隐藏按钮对象
             */
            hidePanelBody: function(obj) {
                $(obj.target).parent().parent().next().slideToggle("slow");
            },
            /**
             * 向后台发起请求
             * @param type 请求的类型
             */
            request: function(type) {
                var data = null,
                    url = null,
                    successFn = null,
                    item = null,
                    table = this.table,
                    searchType = Number(table.searchType);

                if(type === "getDataList") {
                    data = {
                        type: searchType,
                        param: table.searchParam,
                        startDate: $("#startDate").val(),
                        endDate: $("#endDate").val(),
                        numberPerPage: table.numberPerPage,
                        startPos: table.currentPage
                    };
                    url = Service.getUrl("getDataList");
                    successFn = Client.getDataCallback;
                } else if(type === "modify") {
                    data = this.modify;
                    data.type = $("#selectForType").selectpicker("val");
                    data.ec2 = $("#selectForEC2").selectpicker("val");
                    data.deepSea = $("#selectForDeepSea").selectpicker("val");
                    data.operator = this.user.userName;
                    if(data.title === "" || data.type === "" || data.ec2 === "" ||
                        data.locus === "" || data.pdbId === "" || data.date === "") {
                        alert("请将必填信息都填写完整");
                        return;
                    }
                    url = Service.getUrl("modifyData");
                    successFn = Client.successCallback;
                } else if(type === "addExamine") {
                    data = this.modify;
                    data.type = $("#selectForType").selectpicker("val");
                    data.ec2 = $("#selectForEC2").selectpicker("val");
                    data.deepSea = $("#selectForDeepSea").selectpicker("val");
                    data.modifier = this.user.userName;
                    if(data.title === "" || data.type === "" || data.ec2 === "" ||
                        data.locus === "" || data.pdbId === "" || data.date === "") {
                        alert("请将必填信息都填写完整");
                        return;
                    }
                    if(!this.isRoot && !this.hasExamine && data.note === "") {
                        alert("请填写备注，以便审核人员了解修改情况");
                        return;
                    }
                    url = Service.getUrl("addExamine");
                    successFn = Client.addExamineCallback;
                } else if(type === "delete") {
                    item = this.del;
                    url = Service.getUrl("deleteData");
                    data = {
                        id: item.mmeId
                    };
                    successFn = Client.successCallback;
                } else if(type === "getParam") {
                    data = {};
                    url = Service.getUrl("getParam");
                    successFn = Client.getParamCallback;
                }
                Links.connect({
                    method: "post",
                    param: {
                        url: url,
                        data: data,
                        successFn: successFn,
                        errorFn: errorCallback
                    }
                });
            },
            /**
             * 根据主键找到相应数据在列表中的下标
             * @param id 唯一标识 mme 号码
             */
            searchData: function(id) {
                var dataList = this.dataList,
                    item = null,
                    length = 0,
                    loop = 0;

                for(loop = 0, length = dataList.length; loop < length; loop++) {
                    item = dataList[loop];
                    if(item.mmeId === id) {
                        return loop;
                    }
                }
                return -1;
            },
            /**
             * 跳页操作
             * @param type 跳页操作类型 1：上一页 2：跳页 3：下一页
             */
            skipPage: function(type) {
                var type = Number(type),
                    skipPage = Number(this.table.currentPage),
                    validator = new Validator();

                switch(Number(type)) {
                    case 1: { skipPage--; break; }
                    case 2: { skipPage = this.table.inputPage; break; }
                    case 3: { skipPage++; break; }
                }
                // 判断跳往页数是否合法（上一页和下一页已经通过页面进行限制，因此该条件判断只针对跳页）
                if(validator.pages(skipPage, this.table.pageNumber)) {
                    this.table.currentPage = skipPage;
                    this.table.inputPage = skipPage;
                    this.request("getDataList");
                } else {
                    Dialog.tip("请输入正确的页码");
                    this.table.inputPage = this.table.currentPage;
                }
            },
            /**
             * 执行获取用户列表操作的回调函数
             * @param msg 服务器返回的 JSON 对象
             */
            getDataCallback: function (msg) {
                if (Number(msg.code) === 1) {
                    this.dataList = msg.data;
                    this.dataListAfterSearch = msg.data;
                    // 获取记录数并计算总页数
                    this.table.recordNumber = msg.count;
                    this.table.pageNumber = Math.ceil(msg.count / this.table.numberPerPage);
                } else {
                    Dialog.warn(msg.msg);
                }
            },
            /**
             * 修改、删除数据执行成功的回调函数
             * @param msg 服务器返回的对象
             */
            successCallback: function(msg) {
                if (Number(msg.code) === 1) {
                    this.request("getDataList");
                    Dialog.tip(msg.msg);
                } else {
                    Dialog.warn(msg.msg);
                }
            },
            /**
             * 新增待审核数据回调函数
             * @param msg 服务器返回的对象
             */
            addExamineCallback: function(msg) {
                var index = null,
                    modifyObj = this.modify;

                // 若回调函数执行成功，则将相应的数据进行修改
                if (Number(msg.code) === 1) {
                    index = this.searchData(modifyObj.mmeId);
                    console.log(index);
                    if(index !== -1) {
                        this.dataList[index].isModified = 1;
                    }
                    Dialog.tip(msg.msg);
                } else {
                    Dialog.warn(msg.msg);
                }
            },
            /**
             * 获取参数的回调函数
             * @param msg 服务器返回的对象
             */
            getParamCallback: function(msg) {
                var loop = 0, length = 0, item = null,
                    type = msg.data.type,
                    ec2 = msg.data.ec2,
                    selectForType = $("#selectForType"),
                    selectForEC2 = $("#selectForEC2");

                if(Number(msg.code) === 1) {
                    for(loop = 0, length = type.length; loop < length; loop++) {
                        item = type[loop];
                        $data = "<option value='" + item + "'>" + item + "</option>";
                        selectForType.append($data);
                    }
                    for(loop = 0, length = ec2.length; loop < length; loop++) {
                        item = ec2[loop];
                        $data = "<option value='" + item + "'>" + item + "</option>";
                        selectForEC2.append($data);
                    }
                    $(".selectpicker").selectpicker();
                }
            }
        }
    });

    var deepCopy = function(obj) {
        var newO = {};
        if (obj instanceof Array) {
            newO = [];
        }
        for ( var key in obj) {
            var val = obj[key];
            newO[key] = typeof val === 'object' ? arguments.callee(val) : val;
        }
        return newO;
    }
</script>
</body>
</html>