<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge, Chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <title>用户信息</title>
    <link rel="stylesheet" href="vendor/bootstrap-select/bootstrap-select.css">
    <link rel="stylesheet" href="vendor/bootstrap-datepicker/datepicker.css">
    <link rel="stylesheet" href="../asset/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="../asset/easyDialog/css/easydialog.css">

    <link rel="stylesheet" href="css/main.css">
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="app" id="client">
    <navbar :user="user" :message="message"></navbar>
    <section class="layout">
        <sidebar :links="sidebarLinks"></sidebar>
        <aside class="canvas-right sidebar-300 bg-default">
            <div class="content-wrap">
                <div class="profile pd-l-md pd-r-md pd-b-lg">
                    <div class="row">
                        <div class="col-xs-12 profile-cover">
                            <div class="profile-avatar text-center">
                                <img src="img/avatar.jpg" class="avatar avatar-lg bordered-avatar img-circle" alt="">
                            </div>
                        </div>
                        <div class="col-xs-12 text-center mg-t-md">
                            <div class="h4 no-margin" v-text="user.userName"></div>
                            <small v-text="user.roleName"></small>
                        </div>
                        <div class="col-xs-12 mg-t-md mg-b-md">
                            <div class="btn-group btn-group-justified btn-rounded">
                                <a @click="openPanel('panelModify')" class="btn btn-success" role="button">修改密码</a>
                                <!--<a class="btn btn-primary" role="button">Send Message</a>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 mg-b-sm">
                            创建日期
                            <span class="pull-right" v-text="user.userCreate"></span>
                        </div>
                        <div class="col-xs-12 mg-b-sm">
                            修改日期
                            <span class="pull-right" v-text="user.userModify"></span>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <section class="main-content">
            <div class="content-wrap">
                <img src="img/building.jpg" />
                <!--<div class="row">-->
                <!--<div class="col-md-6 mg-b-lg">-->
                <!--<section class="panel no-border overflow-hidden">-->
                <!--<div class="photobox-heading">-->
                <!--<span class="fa-stack fa-sm thumb">-->
                <!--<i class="fa fa-circle fa-stack-2x text-danger"></i>-->
                <!--<i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>-->
                <!--</span>-->
                <!--</div>-->
                <!--<div class="panel-body">-->
                <!--<a href="javascript:;" class="pull-left mg-r-md">-->
                <!--<img src="img/avatar.jpg" class="avatar avatar-sm img-circle" alt="">-->
                <!--</a>-->
                <!--We cannot solve our problems with the same thinking we used when we created them.-->
                <!--</div>-->
                <!--<div class="panel-footer bg-white">-->
                <!--<div class="row pd-t-xs pd-b-xs">-->
                <!--<div class="col-xs-4 text-center">-->
                <!--<a href="javascript:;">-->
                <!--<i class="fa fa-heart mg-r-xs"></i>Like</a>-->
                <!--</div>-->
                <!--<div class="col-xs-4 text-center">-->
                <!--<a href="javascript:;">-->
                <!--<i class="fa fa-comment-o mg-r-xs"></i>Chat</a>-->
                <!--</div>-->
                <!--<div class="col-xs-4 text-center">-->
                <!--<a href="javascript:;">-->
                <!--<i class="fa fa-hand-o-right mg-r-xs"></i>Poke</a>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</section>-->
                <!--<section class="panel no-border">-->
                <!--<form>-->
                <!--<textarea placeholder="Share something new..." rows="2" class="form-control no-border"></textarea>-->
                <!--</form>-->
                <!--<div class="panel-footer">-->
                <!--<button class="btn btn-danger pull-right">Post</button>-->
                <!--<ul class="nav nav-pills">-->
                <!--<li>-->
                <!--<a href="javascript:;" class="btn btn-xs">-->
                <!--<i class="fa fa-pencil"></i>-->
                <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="javascript:;" class="btn btn-xs">-->
                <!--<i class="fa fa-link"></i>-->
                <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="javascript:;" class="btn btn-xs">-->
                <!--<i class="fa fa-camera"></i>-->
                <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="javascript:;" class="btn btn-xs">-->
                <!--<i class=" fa fa-film"></i>-->
                <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="javascript:;" class="btn btn-xs">-->
                <!--<i class="fa fa-microphone"></i>-->
                <!--</a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</section>-->
                <!--<section class="panel panel-primary">-->
                <!--<div class="panel-heading">People you may know-->
                <!--<a href="javascript:;" class="btn btn-primary btn-xs btn-rounded pull-right pd-l-sm pd-r-sm">view more</a>-->
                <!--</div>-->
                <!--<ul class="list-group">-->
                <!--<li class="list-group-item">-->
                <!--<span class="pull-left mg-t-xs mg-r-md">-->
                <!--<img src="img/face3.jpg" class="avatar avatar-sm img-circle" alt="">-->
                <!--</span>-->
                <!--<div class="show no-margin pd-t-xs">-->
                <!--Gary Stone-->
                <!--<small class="pull-right">1,244 Followers</small>-->
                <!--</div>-->
                <!--<small class="text-muted">Friends with Kevin Hanson</small>-->
                <!--</li>-->
                <!--<li class="list-group-item">-->
                <!--<span class="pull-left mg-t-xs mg-r-md">-->
                <!--<img src="img/face5.jpg" class="avatar avatar-sm img-circle" alt="">-->
                <!--</span>-->
                <!--<div class="show no-margin pd-t-xs">-->
                <!--Taylor King-->
                <!--<small class="pull-right">1,244 Followers</small>-->
                <!--</div>-->
                <!--<small class="text-muted">Friends with John Tylor</small>-->
                <!--</li>-->
                <!--<li class="list-group-item">-->
                <!--<span class="pull-left mg-t-xs mg-r-md">-->
                <!--<img src="img/face1.jpg" class="avatar avatar-sm img-circle" alt="">-->
                <!--</span>-->
                <!--<div class="show no-margin pd-t-xs">-->
                <!--Taylor King-->
                <!--<small class="pull-right">1,244 Followers</small>-->
                <!--</div>-->
                <!--<small class="text-muted">Friends with Jack Beanstalk</small>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</section>-->
                <!--<section class="panel">-->
                <!--<div class="panel-body">-->
                <!--<a href="javascript:;" class="pull-left mg-r-md">-->
                <!--<img src="img/avatar.jpg" class="avatar avatar-md img-circle" alt="">-->
                <!--</a>-->
                <!--<div>Gary Stone-->
                <!--<small class="pull-right">6,387 Followers</small>-->
                <!--</div>-->
                <!--<small>San Francisco, CA</small>-->
                <!--<p>-->
                <!--<a href="javascript:;" class="btn btn-primary btn-xs">Send request</a>-->
                <!--</p>-->
                <!--</div>-->
                <!--</section>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                <!--<section class="panel no-border">-->
                <!--<div class="panel-body">-->
                <!--<a href="javascript:;" class="pull-left mg-r-md">-->
                <!--<img src="img/avatar.jpg" class="avatar avatar-md img-circle" alt="">-->
                <!--</a>-->
                <!--<div>Gary Stone-->
                <!--<small class="pull-right">Yesterday, 13:48</small>-->
                <!--</div>-->
                <!--<small>-->
                <!--<i class="fa fa-map-marker pd-r-xs"></i>San Francisco, CA</small>-->
                <!--<p>-->
                <!--Is thinking of bananas-->
                <!--</p>-->
                <!--</div>-->
                <!--<div class="panel-footer">-->
                <!--<a href="javascript:;" class="text-muted">-->
                <!--<i class="fa fa-comments mg-r-xs"></i>Add comment-->
                <!--</a>-->
                <!--</div>-->
                <!--</section>-->
                <!--<section class="panel panel-success bg-success">-->
                <!--<div class="panel-body">-->
                <!--<a href="javascript:;" class="pull-left mg-r-md">-->
                <!--<img src="img/face4.jpg" class="avatar avatar-md img-circle" alt="">-->
                <!--</a>-->
                <!--<div>-->
                <!--<b>Gary Stone</b>-->
                <!--<small class="pull-right">Yesterday, 13:48</small>-->
                <!--</div>-->
                <!--<small>-->
                <!--<i class="fa fa-map-marker pd-r-xs"></i>San Francisco, CA</small>-->
                <!--<div>Is thinking of bananas-->
                <!--<div class="btn-group pull-right">-->
                <!--<a class="btn btn-color btn-xs" role="button">Don't Suggest</a>-->
                <!--<a class="btn btn-danger btn-xs" role="button">Add as friend</a>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</section>-->
                <!--<section class="panel panel-primary post bg-primary">-->
                <!--<div class="panel-heading">-->
                <!--<i class="fa fa-twitter pd-r-sm"></i>Recent tweets-->
                <!--</div>-->
                <!--<ul class="list-group bg-none">-->
                <!--<li class="list-group-item">-->
                <!--<small>A person who never made a mistake never tried anything new.-->
                <!--<a href="javascript:;">@Issac</a>-->
                <!--</small>-->
                <!--<small class="center-block">3 minutes ago</small>-->
                <!--</li>-->
                <!--<li class="list-group-item">-->
                <!--<small>The true sign of intelligence is not knowledge but imagination.-->
                <!--<a href="javascript:;">@Newton</a>-->
                <!--</small>-->
                <!--<small class="center-block">12 minutes ago</small>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</section>-->
                <!--<section class="panel no-border post overflow-hidden bg-none">-->
                <!--<div class="panel-body">-->
                <!--<div class="mg-b-sm">-->
                <!--<a href="javascript:;" class="pull-left mg-r-sm">-->
                <!--<img src="img/avatar.jpg" class="avatar avatar-sm img-circle" alt="">-->
                <!--</a>-->
                <!--<div class="h6 no-margin">-->
                <!--<b>Gary Stone</b>-->
                <!--<span class="text-muted pull-right">Yesterday, 13:48</span>-->
                <!--</div>-->
                <!--<small class="text-muted">-->
                <!--<i class="fa fa-map-marker pd-r-xs"></i>San Francisco, CA-->
                <!--</small>-->
                <!--<p>Insanity: doing the same thing over and over again and expecting different results.</p>-->
                <!--</div>-->
                <!--<small class="text-muted">-->
                <!--<span class="mg-r-sm">Comment</span>-->
                <!--<span class="mg-r-sm">Share</span>-->
                <!--<span class="mg-r-sm">Like</span>-->
                <!--<span class="mg-r-sm">More</span>-->
                <!--</small>-->
                <!--<div class="mg-t-lg pd-l-lg">-->
                <!--<a href="javascript:;" class="pull-left mg-r-sm">-->
                <!--<img src="img/face4.jpg" class="avatar avatar-sm img-circle" alt="">-->
                <!--</a>-->
                <!--<div class="h6 no-margin">-->
                <!--<b>Gary Stone</b>-->
                <!--</div>-->
                <!--<p>So many-->
                <!--<a href="javascript:;">#quotes</a>so little time</p>-->
                <!--<small class="text-muted">-->
                <!--<span class="mg-r-sm">2 Minutes ago</span>-->
                <!--<span class="mg-r-sm">Share</span>-->
                <!--<span class="mg-r-sm">Like</span>-->
                <!--</small>-->
                <!--</div>-->
                <!--<div class="mg-t-lg pd-l-lg">-->
                <!--<a href="javascript:;" class="pull-left mg-r-sm">-->
                <!--<img src="img/face3.jpg" class="avatar avatar-sm img-circle" alt="">-->
                <!--</a>-->
                <!--<div class="h6 no-margin">-->
                <!--<b>Gary Stone</b>-->
                <!--</div>-->
                <!--<p>Thats what my mother keeps telling me. :) lol</p>-->
                <!--<small class="text-muted">-->
                <!--<span class="mg-r-sm">2 Minutes ago</span>-->
                <!--<span class="mg-r-sm">Share</span>-->
                <!--<span class="mg-r-sm">Like</span>-->
                <!--<i class="fa fa-tags" data-toggle="tooltip" data-original-title="View tags"></i>-->
                <!--</small>-->
                <!--</div>-->
                <!--<div class="mg-t-lg pd-l-lg">-->
                <!--<form role="form" class="form-horizontal">-->
                <!--<div class="form-group no-margin">-->
                <!--<div class="col-sm-12 no-padding">-->
                <!--<input type="text" class="form-control input-sm no-border" placeholder="Join the conversation">-->
                <!--</div>-->
                <!--</div>-->
                <!--</form>-->
                <!--</div>-->
                <!--</div>-->
                <!--</section>-->
                <!--</div>-->
                <!--</div>-->
            </div>
            <div id="panelModify" class="panel panel-color sr-only panel-custom">
                <div class="panel-heading">
                    修改密码
                    <small class="pull-right text-white">
                        <a class="fa fa-chevron-down panel-collapsible pd-r-xs" href="javascript:;" @click="hidePanelBody($event)"></a>
                        <a class="fa fa-times panel-remove" href="javascript:easyDialog.close();"></a>
                    </small>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">原密码</label>
                            <div class="col-sm-10">
                                <input v-model="modify.oldPwd" type="password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">新密码</label>
                            <div class="col-sm-10">
                                <input v-model="modify.newPwd" type="password" class="form-control">
                                <p class="help-block">格式：密码长度为6-15位</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">新密码确认</label>
                            <div class="col-sm-10">
                                <input v-model="modify.newPwdAgain" type="password" class="form-control">
                            </div>
                        </div>
                    </form>
                    <button @click="request('modify')" class="btn btn-default center-block">修改密码</button>
                </div>
            </div>
        </section>
    </section>
</div>
<script src="../asset/js/frame/jquery-1.11.1.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script src="../asset/js/frame/vue.js"></script>
<script src="vendor/jquery.easing.min.js"></script>
<script src="../asset/easyDialog/js/easydialog.min.js"></script>
<script src="config/config.js"></script>
<script src="js/components/header.js"></script>
<script src="js/components/sidebar.js"></script>
<script src="js/base.js"></script>
<script>
    var Client = new Vue({
        el: "#client",
        data: {
            user: {},
            message: [
                { username: "陈煦", operation: "修改了系统管理员身份"}
            ],
            sidebarLinks: [],
            modify: {
                oldPwd: "",
                newPwd: "",
                newPwdAgain: ""
            }
        },
        components: {
            "navbar": header,
            "sidebar": sidebar
        },
        mounted: function () {
            this.$nextTick(function () {
                init(Client, function() {
                    $("[data-toggle=tooltip]").tooltip();
                });
            })
        },
        methods: {
            /**
             * 打开弹窗（面板）
             * @param panel 弹窗（面板）的 ID
             * @param item  传递给弹窗（面板）的数据
             */
            openPanel: function(panel, item) {
                $("#" + panel).removeClass("sr-only");
                easyDialog.open({
                    "container": panel
                });
            },
            /**
             * 隐藏弹窗（面板）的主体部分
             * @param obj 隐藏按钮对象
             */
            hidePanelBody: function(obj) {
                $(obj.target).parent().parent().next().slideToggle("slow");
            },
            /**
             * 向后台发起请求
             * @param type 请求的类型
             */
            request: function(type) {
                var data = null,
                    url = null,
                    successFn = null,
                    item = null,
                    validator = new Validator();

                if(type === "modify") {
                    item = this.modify;
                    if(item.oldPwd === "") {
                        Dialog.info("请填写原密码");
                        return;
                    }
                    if(item.newPwd === "" || item.newPwdAgain === "") {
                        Dialog.info("请填写新密码");
                        return;
                    }
                    if(item.newPwd !== item.newPwdAgain) {
                        Dialog.info("两次输入的新密码不一致");
                        return;
                    }
                    if(!validator.password(item.newPwd) || !validator.password(item.newPwdAgain)) {
                        Dialog.info("密码格式不正确");
                    }
                    url = Service.getUrl("modifyPwd");
                    data = {
                        account: this.user.userAccount,
                        oldPwd: item.oldPwd,
                        newPwd: item.newPwd
                    };
                    successFn = Client.modifyPwdCallback;
                }
                Links.connect({
                    method: "post",
                    param: {
                        url: url,
                        data: data,
                        successFn: successFn,
                        errorFn: errorCallback
                    }
                });
            },
            modifyPwdCallback: function(msg) {
                if(Number(msg.code) === 1) {
                    Dialog.info(msg.msg);
                } else {
                    Dialog.warn(msg.msg);
                }
            }
        }
    });
</script>
</body>

</html>