<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matio.mapping.MmeMapper">
  <resultMap id="BaseResultMap" type="com.matio.pojo.Mme">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="ec1" jdbcType="VARCHAR" property="ec1" />
    <result column="ec2" jdbcType="VARCHAR" property="ec2" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="locus" jdbcType="VARCHAR" property="locus" />
    <result column="pdbId" jdbcType="CHAR" property="pdbid" />
    <result column="dbsource" jdbcType="VARCHAR" property="dbsource" />
    <result column="microbe" jdbcType="VARCHAR" property="microbe" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="organism" jdbcType="VARCHAR" property="organism" />
    <result column="date" jdbcType="CHAR" property="date" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="deepSea" jdbcType="CHAR" property="deepsea" />
    <result column="temperature" jdbcType="VARCHAR" property="temperature" />
    <result column="ph" jdbcType="VARCHAR" property="ph" />
    <result column="zone" jdbcType="VARCHAR" property="zone" />
    <result column="cofactors" jdbcType="VARCHAR" property="cofactors" />
    <result column="inhibitors" jdbcType="VARCHAR" property="inhibitors" />
    <result column="origin" jdbcType="VARCHAR" property="origin" />
    <result column="author1" jdbcType="VARCHAR" property="author1" />
    <result column="title1" jdbcType="VARCHAR" property="title1" />
    <result column="journal1" jdbcType="VARCHAR" property="journal1" />
    <result column="pubmed1" jdbcType="VARCHAR" property="pubmed1" />
    <result column="abstract1" jdbcType="VARCHAR" property="abstract1" />
    <result column="author2" jdbcType="VARCHAR" property="author2" />
    <result column="title2" jdbcType="VARCHAR" property="title2" />
    <result column="journal2" jdbcType="VARCHAR" property="journal2" />
    <result column="pubmed2" jdbcType="VARCHAR" property="pubmed2" />
    <result column="abstract2" jdbcType="VARCHAR" property="abstract2" />
    <result column="author3" jdbcType="VARCHAR" property="author3" />
    <result column="title3" jdbcType="VARCHAR" property="title3" />
    <result column="journal3" jdbcType="VARCHAR" property="journal3" />
    <result column="pubmed3" jdbcType="VARCHAR" property="pubmed3" />
    <result column="abstract3" jdbcType="VARCHAR" property="abstract3" />
    <result column="author4" jdbcType="VARCHAR" property="author4" />
    <result column="title4" jdbcType="VARCHAR" property="title4" />
    <result column="journal4" jdbcType="VARCHAR" property="journal4" />
    <result column="pubmed4" jdbcType="VARCHAR" property="pubmed4" />
    <result column="abstract4" jdbcType="VARCHAR" property="abstract4" />
    <result column="operateDate" jdbcType="CHAR" property="operatedate" />
    <result column="modifyDate" jdbcType="CHAR" property="modifydate" />
    <result column="isModified" jdbcType="CHAR" property="ismodified" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.matio.pojo.Mme">
    <result column="operator" jdbcType="BINARY" property="operator" />
    <result column="modifier" jdbcType="BINARY" property="modifier" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, ec1, ec2, title, locus, pdbId, dbsource, microbe, source, organism, date, 
    country, deepSea, temperature, ph, zone, cofactors, inhibitors, origin, author1, 
    title1, journal1, pubmed1, abstract1, author2, title2, journal2, pubmed2, abstract2, 
    author3, title3, journal3, pubmed3, abstract3, author4, title4, journal4, pubmed4, 
    abstract4, operateDate, modifyDate, isModified
  </sql>
  <sql id="Blob_Column_List">
    operator, modifier
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from mme
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mme
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.matio.pojo.Mme">
    insert into mme (id, type, ec1, 
      ec2, title, locus, 
      pdbId, dbsource, microbe, 
      source, organism, date, 
      country, deepSea, temperature, 
      ph, zone, cofactors, 
      inhibitors, origin, author1, 
      title1, journal1, pubmed1, 
      abstract1, author2, title2, 
      journal2, pubmed2, abstract2, 
      author3, title3, journal3, 
      pubmed3, abstract3, author4, 
      title4, journal4, pubmed4, 
      abstract4, operateDate, modifyDate, 
      isModified, operator, modifier
      )
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{ec1,jdbcType=VARCHAR}, 
      #{ec2,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{locus,jdbcType=VARCHAR}, 
      #{pdbid,jdbcType=CHAR}, #{dbsource,jdbcType=VARCHAR}, #{microbe,jdbcType=VARCHAR}, 
      #{source,jdbcType=VARCHAR}, #{organism,jdbcType=VARCHAR}, #{date,jdbcType=CHAR}, 
      #{country,jdbcType=VARCHAR}, #{deepsea,jdbcType=CHAR}, #{temperature,jdbcType=VARCHAR}, 
      #{ph,jdbcType=VARCHAR}, #{zone,jdbcType=VARCHAR}, #{cofactors,jdbcType=VARCHAR}, 
      #{inhibitors,jdbcType=VARCHAR}, #{origin,jdbcType=VARCHAR}, #{author1,jdbcType=VARCHAR}, 
      #{title1,jdbcType=VARCHAR}, #{journal1,jdbcType=VARCHAR}, #{pubmed1,jdbcType=VARCHAR}, 
      #{abstract1,jdbcType=VARCHAR}, #{author2,jdbcType=VARCHAR}, #{title2,jdbcType=VARCHAR}, 
      #{journal2,jdbcType=VARCHAR}, #{pubmed2,jdbcType=VARCHAR}, #{abstract2,jdbcType=VARCHAR}, 
      #{author3,jdbcType=VARCHAR}, #{title3,jdbcType=VARCHAR}, #{journal3,jdbcType=VARCHAR}, 
      #{pubmed3,jdbcType=VARCHAR}, #{abstract3,jdbcType=VARCHAR}, #{author4,jdbcType=VARCHAR}, 
      #{title4,jdbcType=VARCHAR}, #{journal4,jdbcType=VARCHAR}, #{pubmed4,jdbcType=VARCHAR}, 
      #{abstract4,jdbcType=VARCHAR}, #{operatedate,jdbcType=CHAR}, #{modifydate,jdbcType=CHAR}, 
      #{ismodified,jdbcType=CHAR}, #{operator,jdbcType=BINARY}, #{modifier,jdbcType=BINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.matio.pojo.Mme">
    insert into mme
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="ec1 != null">
        ec1,
      </if>
      <if test="ec2 != null">
        ec2,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="locus != null">
        locus,
      </if>
      <if test="pdbid != null">
        pdbId,
      </if>
      <if test="dbsource != null">
        dbsource,
      </if>
      <if test="microbe != null">
        microbe,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="organism != null">
        organism,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="deepsea != null">
        deepSea,
      </if>
      <if test="temperature != null">
        temperature,
      </if>
      <if test="ph != null">
        ph,
      </if>
      <if test="zone != null">
        zone,
      </if>
      <if test="cofactors != null">
        cofactors,
      </if>
      <if test="inhibitors != null">
        inhibitors,
      </if>
      <if test="origin != null">
        origin,
      </if>
      <if test="author1 != null">
        author1,
      </if>
      <if test="title1 != null">
        title1,
      </if>
      <if test="journal1 != null">
        journal1,
      </if>
      <if test="pubmed1 != null">
        pubmed1,
      </if>
      <if test="abstract1 != null">
        abstract1,
      </if>
      <if test="author2 != null">
        author2,
      </if>
      <if test="title2 != null">
        title2,
      </if>
      <if test="journal2 != null">
        journal2,
      </if>
      <if test="pubmed2 != null">
        pubmed2,
      </if>
      <if test="abstract2 != null">
        abstract2,
      </if>
      <if test="author3 != null">
        author3,
      </if>
      <if test="title3 != null">
        title3,
      </if>
      <if test="journal3 != null">
        journal3,
      </if>
      <if test="pubmed3 != null">
        pubmed3,
      </if>
      <if test="abstract3 != null">
        abstract3,
      </if>
      <if test="author4 != null">
        author4,
      </if>
      <if test="title4 != null">
        title4,
      </if>
      <if test="journal4 != null">
        journal4,
      </if>
      <if test="pubmed4 != null">
        pubmed4,
      </if>
      <if test="abstract4 != null">
        abstract4,
      </if>
      <if test="operatedate != null">
        operateDate,
      </if>
      <if test="modifydate != null">
        modifyDate,
      </if>
      <if test="ismodified != null">
        isModified,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="ec1 != null">
        #{ec1,jdbcType=VARCHAR},
      </if>
      <if test="ec2 != null">
        #{ec2,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="locus != null">
        #{locus,jdbcType=VARCHAR},
      </if>
      <if test="pdbid != null">
        #{pdbid,jdbcType=CHAR},
      </if>
      <if test="dbsource != null">
        #{dbsource,jdbcType=VARCHAR},
      </if>
      <if test="microbe != null">
        #{microbe,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="organism != null">
        #{organism,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=CHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="deepsea != null">
        #{deepsea,jdbcType=CHAR},
      </if>
      <if test="temperature != null">
        #{temperature,jdbcType=VARCHAR},
      </if>
      <if test="ph != null">
        #{ph,jdbcType=VARCHAR},
      </if>
      <if test="zone != null">
        #{zone,jdbcType=VARCHAR},
      </if>
      <if test="cofactors != null">
        #{cofactors,jdbcType=VARCHAR},
      </if>
      <if test="inhibitors != null">
        #{inhibitors,jdbcType=VARCHAR},
      </if>
      <if test="origin != null">
        #{origin,jdbcType=VARCHAR},
      </if>
      <if test="author1 != null">
        #{author1,jdbcType=VARCHAR},
      </if>
      <if test="title1 != null">
        #{title1,jdbcType=VARCHAR},
      </if>
      <if test="journal1 != null">
        #{journal1,jdbcType=VARCHAR},
      </if>
      <if test="pubmed1 != null">
        #{pubmed1,jdbcType=VARCHAR},
      </if>
      <if test="abstract1 != null">
        #{abstract1,jdbcType=VARCHAR},
      </if>
      <if test="author2 != null">
        #{author2,jdbcType=VARCHAR},
      </if>
      <if test="title2 != null">
        #{title2,jdbcType=VARCHAR},
      </if>
      <if test="journal2 != null">
        #{journal2,jdbcType=VARCHAR},
      </if>
      <if test="pubmed2 != null">
        #{pubmed2,jdbcType=VARCHAR},
      </if>
      <if test="abstract2 != null">
        #{abstract2,jdbcType=VARCHAR},
      </if>
      <if test="author3 != null">
        #{author3,jdbcType=VARCHAR},
      </if>
      <if test="title3 != null">
        #{title3,jdbcType=VARCHAR},
      </if>
      <if test="journal3 != null">
        #{journal3,jdbcType=VARCHAR},
      </if>
      <if test="pubmed3 != null">
        #{pubmed3,jdbcType=VARCHAR},
      </if>
      <if test="abstract3 != null">
        #{abstract3,jdbcType=VARCHAR},
      </if>
      <if test="author4 != null">
        #{author4,jdbcType=VARCHAR},
      </if>
      <if test="title4 != null">
        #{title4,jdbcType=VARCHAR},
      </if>
      <if test="journal4 != null">
        #{journal4,jdbcType=VARCHAR},
      </if>
      <if test="pubmed4 != null">
        #{pubmed4,jdbcType=VARCHAR},
      </if>
      <if test="abstract4 != null">
        #{abstract4,jdbcType=VARCHAR},
      </if>
      <if test="operatedate != null">
        #{operatedate,jdbcType=CHAR},
      </if>
      <if test="modifydate != null">
        #{modifydate,jdbcType=CHAR},
      </if>
      <if test="ismodified != null">
        #{ismodified,jdbcType=CHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=BINARY},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.matio.pojo.Mme">
    update mme
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="ec1 != null">
        ec1 = #{ec1,jdbcType=VARCHAR},
      </if>
      <if test="ec2 != null">
        ec2 = #{ec2,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="locus != null">
        locus = #{locus,jdbcType=VARCHAR},
      </if>
      <if test="pdbid != null">
        pdbId = #{pdbid,jdbcType=CHAR},
      </if>
      <if test="dbsource != null">
        dbsource = #{dbsource,jdbcType=VARCHAR},
      </if>
      <if test="microbe != null">
        microbe = #{microbe,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="organism != null">
        organism = #{organism,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=CHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="deepsea != null">
        deepSea = #{deepsea,jdbcType=CHAR},
      </if>
      <if test="temperature != null">
        temperature = #{temperature,jdbcType=VARCHAR},
      </if>
      <if test="ph != null">
        ph = #{ph,jdbcType=VARCHAR},
      </if>
      <if test="zone != null">
        zone = #{zone,jdbcType=VARCHAR},
      </if>
      <if test="cofactors != null">
        cofactors = #{cofactors,jdbcType=VARCHAR},
      </if>
      <if test="inhibitors != null">
        inhibitors = #{inhibitors,jdbcType=VARCHAR},
      </if>
      <if test="origin != null">
        origin = #{origin,jdbcType=VARCHAR},
      </if>
      <if test="author1 != null">
        author1 = #{author1,jdbcType=VARCHAR},
      </if>
      <if test="title1 != null">
        title1 = #{title1,jdbcType=VARCHAR},
      </if>
      <if test="journal1 != null">
        journal1 = #{journal1,jdbcType=VARCHAR},
      </if>
      <if test="pubmed1 != null">
        pubmed1 = #{pubmed1,jdbcType=VARCHAR},
      </if>
      <if test="abstract1 != null">
        abstract1 = #{abstract1,jdbcType=VARCHAR},
      </if>
      <if test="author2 != null">
        author2 = #{author2,jdbcType=VARCHAR},
      </if>
      <if test="title2 != null">
        title2 = #{title2,jdbcType=VARCHAR},
      </if>
      <if test="journal2 != null">
        journal2 = #{journal2,jdbcType=VARCHAR},
      </if>
      <if test="pubmed2 != null">
        pubmed2 = #{pubmed2,jdbcType=VARCHAR},
      </if>
      <if test="abstract2 != null">
        abstract2 = #{abstract2,jdbcType=VARCHAR},
      </if>
      <if test="author3 != null">
        author3 = #{author3,jdbcType=VARCHAR},
      </if>
      <if test="title3 != null">
        title3 = #{title3,jdbcType=VARCHAR},
      </if>
      <if test="journal3 != null">
        journal3 = #{journal3,jdbcType=VARCHAR},
      </if>
      <if test="pubmed3 != null">
        pubmed3 = #{pubmed3,jdbcType=VARCHAR},
      </if>
      <if test="abstract3 != null">
        abstract3 = #{abstract3,jdbcType=VARCHAR},
      </if>
      <if test="author4 != null">
        author4 = #{author4,jdbcType=VARCHAR},
      </if>
      <if test="title4 != null">
        title4 = #{title4,jdbcType=VARCHAR},
      </if>
      <if test="journal4 != null">
        journal4 = #{journal4,jdbcType=VARCHAR},
      </if>
      <if test="pubmed4 != null">
        pubmed4 = #{pubmed4,jdbcType=VARCHAR},
      </if>
      <if test="abstract4 != null">
        abstract4 = #{abstract4,jdbcType=VARCHAR},
      </if>
      <if test="operatedate != null">
        operateDate = #{operatedate,jdbcType=CHAR},
      </if>
      <if test="modifydate != null">
        modifyDate = #{modifydate,jdbcType=CHAR},
      </if>
      <if test="ismodified != null">
        isModified = #{ismodified,jdbcType=CHAR},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=BINARY},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=BINARY},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.matio.pojo.Mme">
    update mme
    set type = #{type,jdbcType=VARCHAR},
      ec1 = #{ec1,jdbcType=VARCHAR},
      ec2 = #{ec2,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      locus = #{locus,jdbcType=VARCHAR},
      pdbId = #{pdbid,jdbcType=CHAR},
      dbsource = #{dbsource,jdbcType=VARCHAR},
      microbe = #{microbe,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      organism = #{organism,jdbcType=VARCHAR},
      date = #{date,jdbcType=CHAR},
      country = #{country,jdbcType=VARCHAR},
      deepSea = #{deepsea,jdbcType=CHAR},
      temperature = #{temperature,jdbcType=VARCHAR},
      ph = #{ph,jdbcType=VARCHAR},
      zone = #{zone,jdbcType=VARCHAR},
      cofactors = #{cofactors,jdbcType=VARCHAR},
      inhibitors = #{inhibitors,jdbcType=VARCHAR},
      origin = #{origin,jdbcType=VARCHAR},
      author1 = #{author1,jdbcType=VARCHAR},
      title1 = #{title1,jdbcType=VARCHAR},
      journal1 = #{journal1,jdbcType=VARCHAR},
      pubmed1 = #{pubmed1,jdbcType=VARCHAR},
      abstract1 = #{abstract1,jdbcType=VARCHAR},
      author2 = #{author2,jdbcType=VARCHAR},
      title2 = #{title2,jdbcType=VARCHAR},
      journal2 = #{journal2,jdbcType=VARCHAR},
      pubmed2 = #{pubmed2,jdbcType=VARCHAR},
      abstract2 = #{abstract2,jdbcType=VARCHAR},
      author3 = #{author3,jdbcType=VARCHAR},
      title3 = #{title3,jdbcType=VARCHAR},
      journal3 = #{journal3,jdbcType=VARCHAR},
      pubmed3 = #{pubmed3,jdbcType=VARCHAR},
      abstract3 = #{abstract3,jdbcType=VARCHAR},
      author4 = #{author4,jdbcType=VARCHAR},
      title4 = #{title4,jdbcType=VARCHAR},
      journal4 = #{journal4,jdbcType=VARCHAR},
      pubmed4 = #{pubmed4,jdbcType=VARCHAR},
      abstract4 = #{abstract4,jdbcType=VARCHAR},
      operateDate = #{operatedate,jdbcType=CHAR},
      modifyDate = #{modifydate,jdbcType=CHAR},
      isModified = #{ismodified,jdbcType=CHAR},
      operator = #{operator,jdbcType=BINARY},
      modifier = #{modifier,jdbcType=BINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.matio.pojo.Mme">
    update mme
    set type = #{type,jdbcType=VARCHAR},
      ec1 = #{ec1,jdbcType=VARCHAR},
      ec2 = #{ec2,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      locus = #{locus,jdbcType=VARCHAR},
      pdbId = #{pdbid,jdbcType=CHAR},
      dbsource = #{dbsource,jdbcType=VARCHAR},
      microbe = #{microbe,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      organism = #{organism,jdbcType=VARCHAR},
      date = #{date,jdbcType=CHAR},
      country = #{country,jdbcType=VARCHAR},
      deepSea = #{deepsea,jdbcType=CHAR},
      temperature = #{temperature,jdbcType=VARCHAR},
      ph = #{ph,jdbcType=VARCHAR},
      zone = #{zone,jdbcType=VARCHAR},
      cofactors = #{cofactors,jdbcType=VARCHAR},
      inhibitors = #{inhibitors,jdbcType=VARCHAR},
      origin = #{origin,jdbcType=VARCHAR},
      author1 = #{author1,jdbcType=VARCHAR},
      title1 = #{title1,jdbcType=VARCHAR},
      journal1 = #{journal1,jdbcType=VARCHAR},
      pubmed1 = #{pubmed1,jdbcType=VARCHAR},
      abstract1 = #{abstract1,jdbcType=VARCHAR},
      author2 = #{author2,jdbcType=VARCHAR},
      title2 = #{title2,jdbcType=VARCHAR},
      journal2 = #{journal2,jdbcType=VARCHAR},
      pubmed2 = #{pubmed2,jdbcType=VARCHAR},
      abstract2 = #{abstract2,jdbcType=VARCHAR},
      author3 = #{author3,jdbcType=VARCHAR},
      title3 = #{title3,jdbcType=VARCHAR},
      journal3 = #{journal3,jdbcType=VARCHAR},
      pubmed3 = #{pubmed3,jdbcType=VARCHAR},
      abstract3 = #{abstract3,jdbcType=VARCHAR},
      author4 = #{author4,jdbcType=VARCHAR},
      title4 = #{title4,jdbcType=VARCHAR},
      journal4 = #{journal4,jdbcType=VARCHAR},
      pubmed4 = #{pubmed4,jdbcType=VARCHAR},
      abstract4 = #{abstract4,jdbcType=VARCHAR},
      operateDate = #{operatedate,jdbcType=CHAR},
      modifyDate = #{modifydate,jdbcType=CHAR},
      isModified = #{ismodified,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByLocus" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT
    locus
    FROM
    mme WHERE
    locus = #{locus}
  </select>
  <select id="selectByFuzzyEC2" parameterType="com.matio.pojo.MmeCondition" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mme
    where type = #{type,jdbcType=INTEGER}
    AND
    ec2 like #{ec2} + "%"
  </select>
  <select id="selectByCondition" parameterType="com.matio.pojo.MmeCondition" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mme
    where
    <if test="pdbId != null">
      pdbId = #{pdbId} AND
    </if>
    <if test="type != null">
      type = #{type} AND
    </if>
    <if test="ec2 != null">
      ec2 = #{ec2} AND
    </if>
    <if test="operator != null">
      operator = #{operator} AND
    </if>
    <if test="modifier != null">
      modifier = #{modifier} AND
    </if>
    <if test="startDate_op != null">
      operateDate &gt; #{startDate_op} AND
      operateDate &lt; #{endDate_op} AND
    </if>
    <if test="startDate_md != null">
      modifyDate &gt; #{startDate_md} AND
      modifyDate &lt; #{endDate_md} AND
    </if>
    1=1 limit #{startSize},#{endSize}
  </select>
  <select id="selectCountByCondition" parameterType="com.matio.pojo.MmeCondition" resultType="java.lang.Integer">
    select
    count(*)
    from mme
    where
    <if test="pdbId != null">
      pdbId = #{pdbId} AND
    </if>
    <if test="type != null">
      type = #{type} AND
    </if>
    <if test="ec2 != null">
      ec2 = #{ec2} AND
    </if>
    <if test="operator != null">
      operator = #{operator} AND
    </if>
    <if test="modifier != null">
      modifier = #{modifier} AND
    </if>
    <if test="startDate_op != null">
      operateDate &gt; #{startDate_op} AND
      operateDate &lt; #{endDate_op} AND
    </if>
    <if test="startDate_md != null">
      modifyDate &gt; #{startDate_md} AND
      modifyDate &lt; #{endDate_md} AND
    </if>
    1=1
  </select>
  <select id="selectEC1ByEC2" parameterType="java.lang.String" resultType="java.lang.String">
    select ec1
    from view_ec
    where ec2 = #{ec2}
  </select>
  <update id="updateIsModified" parameterType="com.matio.pojo.Mme">
    update mme
    set isModified = #{isModified,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateIsModifiedAll" parameterType="java.lang.String">
    update mme
    set isModified = #{isModified,jdbcType=VARCHAR}
  </update>
</mapper>