<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matio.mapping.RoleMapper">
  <resultMap id="BaseResultMap" type="com.matio.pojo.Role">
    <id column="roleId" jdbcType="INTEGER" property="roleid" />
    <result column="roleAuth" jdbcType="VARCHAR" property="roleauth" />
    <result column="roleCreate" jdbcType="CHAR" property="rolecreate" />
    <result column="roleModify" jdbcType="CHAR" property="rolemodify" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.matio.pojo.Role">
    <result column="roleName" jdbcType="BINARY" property="rolename" />
    <result column="operator" jdbcType="BINARY" property="operator" />
  </resultMap>
  <sql id="Base_Column_List">
    roleId, roleAuth, roleCreate, roleModify
  </sql>
  <sql id="Blob_Column_List">
    roleName, operator
  </sql>
  <select id="selectAll" parameterType="com.matio.pojo.UserCondition" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from role
    where roleId != '1'
    limit #{startSize},#{endSize}
  </select>
  <select id="selectCountAll" resultType="java.lang.Integer">
    select
    count(*)
    from role
    where roleId != '1'
  </select>
  <select id="selectRole" resultMap="BaseResultMap">
    select
    roleId, roleName
    from role
    where roleId != '1'
  </select>
  <insert id="insert" parameterType="com.matio.pojo.Role">
    insert into role (roleId, roleAuth, roleCreate,
    roleModify, roleName, operator
    )
    values (#{roleid,jdbcType=INTEGER}, #{roleauth,jdbcType=VARCHAR}, #{rolecreate,jdbcType=CHAR},
    #{rolemodify,jdbcType=CHAR}, #{rolename,jdbcType=BINARY}, #{operator,jdbcType=BINARY}
    )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.matio.pojo.Role">
    update role
    set roleAuth = #{roleauth,jdbcType=VARCHAR},
    roleModify = #{rolemodify,jdbcType=CHAR},
    roleName = #{rolename,jdbcType=BINARY},
    operator = #{operator,jdbcType=BINARY}
    where roleId != '1' AND roleId = #{roleid,jdbcType=INTEGER}
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role
    where roleId != '1' and roleId = #{roleid,jdbcType=INTEGER}
  </delete>
</mapper>