<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.matio.mapping.View_frontMapper" >
  <resultMap id="BaseResultMap" type="com.matio.pojo.View_front" >
    <result column="ec2" property="ec2" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="locus" property="locus" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectByFuzzyEC2" resultMap="BaseResultMap">
    SELECT * FROM view_front WHERE ec1 = #{ec1} AND ec2 like CONCAT(#{ec2},"%") LIMIT #{startSize},#{endSize}
  </select>
  <select id="selectCountByFuzzyEC2" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM view_front WHERE ec1 = #{ec1} AND ec2 like CONCAT(#{ec2},"%")
  </select>
</mapper>